<div class="row task-list mt-2 mb-2 rounded">
    <div class="col-12">

        <div class="row">
            <div class="col-12">
                <h1>Tareas pendientes</h1>
                <div *ngIf="taskListNotCompleted.length > 0">
                    <app-task *ngFor="let item of taskListNotCompleted; let index = index" [task]="item" [index]="index">
                    </app-task>
                </div>
                <div *ngIf="taskListNotCompleted.length === 0">
                    No tienes tareas pendientes
                </div>
                <button class="btn btn-primary" (click)="showInputTextTask()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Agregar Tarea
                </button>
                <div *ngIf="showInputTask" class="input-group mt-2 mb-2">
                    <input type="text" class="form-control" #task (keydown.enter)="addTask(task.value)">
                    <span class="input-group-btn">
                      <button
                      type="button"
                      class="btn btn-primary rounded-0"
                      (click)="addTask(task.value)">
                        Añadir
                      </button>
                    </span>
                </div>
                <div *ngIf="errorInput" class="alert alert-danger" role="alert">
                    <strong>La tarea no puede estar vacía</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1>Tareas completadas</h1>
                <button class="btn btn-primary">
                  <i class="fa fa-eye-slash" aria-hidden="true"></i>
                  Ocultar tareas completadas
                </button>
                <div *ngIf="taskListCompleted.length === 0">
                    No tienes tareas completadas
                </div>
            </div>
        </div>

    </div>
</div>
